!!!
%html{:lang => "en", :class => "no-js"}
    %head
        = render "partials/_head"
    %body{:id => "#{@item[:bodyID]}", :class => "#{@item[:bodyClasses]}"}
        = render "partials/_header"
        
        = yield
        
        = render "partials/_footer"
        = render "partials/_bottom"
